<?xml version="1.0"?>
<configuration>
  <location path="ShipOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Shipping Clerk, Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Orders.aspx">
    <system.web>
      <authorization>
        <allow roles="Sales Rep, Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Order.aspx">
    <system.web>
      <authorization>
        <allow roles="Sales Rep, Admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
